@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft</h1>
    <p>Welcome to Microsoft, <strong>your go-to platform for all things tech!</strong></p>
</div>
